body{
font-family: sans-serif;
}

/* card luar */
.outer-card{
width: 420px;
background: #e8e5ec;
padding: 40px;
border-radius: 30px;
border: 2px solid #caa6ff;
box-shadow: 0 8px 20px rgba(0,0,0,0.15);
text-align: center;
}

/* judul */
.title{
font-size: 26px;
font-weight: 700;
}

.subtitle{
font-size: 14px;
color: #555;
margin-bottom: 20px;
}

/* card dalam */
.inner-card{
background: #ded8e6;
padding: 25px;
border-radius: 20px;
box-shadow: 5px 8px 12px rgba(0,0,0,0.15);
text-align: left;
}

/* label */
label{
font-size: 14px;
display: block;
margin-top: 10px;
}

/* input */
.input{
width: 100%;
padding: 8px;
margin-top: 5px;
border-radius: 8px;
border: none;
background: #f2f2f2;
}

/* tampilkan password */
.show-pass{
position: absolute;
right: 10px;
top: 8px;
font-size: 13px;
color: #777;
cursor: pointer;
}

/* tombol */
.btn-daftar{
width: 100%;
margin-top: 20px;
padding: 10px;
border-radius: 20px;
border: none;
color: white;
font-weight: 600;
background: linear-gradient(90deg,#8e7dff,#f3b1d3);
}

/* login */
.login-text{
text-align: center;
margin-top: 10px;
font-size: 14px;
}

.login-text a{
color: #5b6cff;
}